@page "/"
@using BlazorColorPicker

@inject IColorPickerService ColorPickerService

<a href="https://www.nuget.org/packages/BlazorColorPicker/"><img src="https://img.shields.io/nuget/v/BlazorColorPicker.svg" /></a>
<br />

<button class="btn btn-secondary" @onclick="@OpenModal">
    <div style="background-color:@color" class="buttonColor"></div> Select a default Color
</button>

<h2>Usage</h2>

<CodeBlock Language="CodeLanguage.Razor"
		   Code=@(@"
@using BlazorColorPicker

@inject IColorPickerService ColorPickerService

<button @onclick=""OpenModal"">
    <div style=""background-color:@color"" class=""buttonColor""></div> Select a Color
</button>
		   	 	 ") />

<CodeBlock Language="CodeLanguage.CSharp"
		   Code=@(@"
private async Task OpenModal()
{
	var parameters = new ColorPickerParameters
	{
	ColorSelected = color,
	};

    color = await ColorPickerService.ShowColorPicker(parameters);
}
		   	 	 ") />


<div class="mt-4">
	<h5>Use  your own color palette</h5>
	<button class="btn btn-primary" @onclick="OpenModalCustom">
		<div style="background-color:@customColor" class="buttonColor"></div> Select a custom Colors
	</button>
</div>

<div class="mt-4">
	<h5>Change the size</h5>
	<button class="btn btn-primary" @onclick="OpenModalCustomSizes">
		<div style="background-color:@customColorSize" class="buttonColor"></div> Custom sizes
	</button>
</div>

<div class="mt-4">
	<h5>Find the closest color</h5>
	<button class="btn btn-primary" @onclick="OpenModalUnmatched">
		<div style="background-color:@unmatchedColor" class="buttonColor"></div> Select a unmatched Color
	</button>
</div>

@code {
	private string color = "#ec407a";
	private string customColor = "#FFFFFF";
	private string customColorSize = "#42A5F6";
	private string unmatchedColor = "#8B4513";

	private async Task OpenModal()
	{
		var parameters = new ColorPickerParameters
		{
			ColorSelected = color,
		};
		color = await ColorPickerService.ShowColorPicker(parameters);
	}

	private async Task OpenModalCustom()
	{
		string[] colors = new string[] { 
			"#F44336", "#E91E63", "#9C27B0", "#673AB7", 
			"#3F51B5", "#2196F3", "#03A9F4", "#00BCD4", 
			"#009688", "#4CAF50", "#8BC34A", "#CDDC39", 
			"#FFEB3B", "#FFC107", "#FF9800", "#FF5722",
			"#795548", "#9E9E9E", "#607D8B", "#000000",
			"#FFFFFF", "#ECEFF1", "#CFD8DC", "#B0BEC5"
		};

		var parameters = new ColorPickerParameters
		{
			ColorSelected = customColor,
			MyColorPallet = colors,
			OverwriteBackgroundColor = "#CCCCCC",
			Title = "Custom Colors",
		};
		customColor = await ColorPickerService.ShowColorPicker(parameters);
    }

	private async Task OpenModalCustomSizes()
	{
		var parameters = new ColorPickerParameters
		{
			ColorSelected = customColorSize,
			Style = "width: 304px; height: 304px",
		};
		customColorSize = await ColorPickerService.ShowColorPicker(parameters);
	}

	private async Task OpenModalUnmatched()
	{
		var parameters = new ColorPickerParameters
		{
			ColorSelected = unmatchedColor,
			FindClosestIfNotFound = true,
		};
		unmatchedColor = await ColorPickerService.ShowColorPicker(parameters);
	}
}
